In [1]:
#jobsity Test OOP aproach
#Ricardo Roa
import pandas as pd
from io import StringIO
import re 
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey, Float
from twilio.rest import Client
from twilio.base.exceptions import TwilioRestException
from sqlalchemy.exc import OperationalError
import os


class ingest_data():
    #inicializo variables
    def __init__(self, df=pd.DataFrame(),df2=pd.DataFrame()):
        self.df = df
        self.df2= df2

    def process_data(self):
        #descarga de csv
        try:
            url='https://drive.google.com/file/d/14JcOSJAWqKOUNyadVZDPm7FplA7XYhrU/view'
            file_id=url.split('/')[-2]
            download_data='https://drive.google.com/uc?id=' + file_id
            df = pd.read_csv(download_data)
            self.df = df
            return df
        except (NameError,TypeError,UnboundLocalError,ValueError) as error:
            print('Declare la variable correcta:',error) 
            raise
        
    def transform_data(self):
        #transformacion del df
        try:
            df = self.df
            col = ['origin_coord','destination_coord']
            keywords = ["POINT","(",")"," "]
            float_point = ["."]
            for i in range(len(keywords)):
                df = df[['origin_coord','destination_coord']].apply(lambda x: x.str.replace(keywords[i],'',regex=True))
            for i in range(len(float_point)):
                df = df[['origin_coord','destination_coord']].apply(lambda x: x.str.replace(float_point[i],',',regex=True))
            self.df2 = df
            self.df2[['origin_coord','destination_coord']].astype(str)

            aux_indexes=[]
            aux_indexes_=[]
            for item, item_ in zip(self.df2.origin_coord,self.df2.destination_coord):
                index = item.find(",")
                index_ = item_.find(",")
                aux_indexes.append(index)
                aux_indexes_.append(index_)

            self.df2 = self.df2[['origin_coord','destination_coord']].apply(lambda x: x.str.replace(',','',regex=True))


            new_index_=[]
            new_index__=[]


            for index, item in zip(aux_indexes,self.df2.origin_coord):
                item = item[:index] + ',' + item[index:]
                new_index_.append(item)
                new_index_=list(dict.fromkeys(new_index_))


            for index, item in zip(aux_indexes_,self.df2.destination_coord):
                item = item[:index] + ',' + item[index:]
                new_index__.append(item)
                new_index__= list(dict.fromkeys(new_index__))

            df4 = pd.DataFrame(new_index_).rename(columns={0:'origin_coord'})
            df5 = pd.DataFrame(new_index__).rename(columns={0:'destination_coord'})

            df['origin_coord'] = df4[['origin_coord']]
            df['destination_coord'] = df5[['destination_coord']]
            df = df[['origin_coord','destination_coord']].apply(lambda x: x.str.replace(",",".",regex=True)).astype(float)
            df = df[['origin_coord','destination_coord']].apply(lambda x: x.round(1))
            self.df2 = df
            return self.df2
        except (NameError,TypeError,UnboundLocalError,ValueError) as error:
            print('Declare la variable correcta:',error) 
            raise
       
        
    def update_data(self):
        try:
            
            df2 = self.df2
            df = self.df

            df['origin_coord']= df2[['origin_coord']]
            df['destination_coord']= df2[['destination_coord']]
            df['date'] = pd.to_datetime(df['datetime']).dt.date

            df['day'] = df['date'].apply(lambda x : x.day)
            df['Hour'] = pd.to_datetime(df['datetime']).dt.hour
            df['week'] = df['day'].apply(lambda x: (x-1)//7+1) 
            df2 = df.groupby(['region','origin_coord','destination_coord','datetime'])['region'].agg(['count'], ascending=True).\
                rename(columns={'count':'Total'}).reset_index()
            df2 = df.groupby(['region'])['week'].agg(['mean'], ascending=True).\
                rename(columns={'mean':'weekly_avg'}).reset_index()
            self.df2 = df2

            df3 = pd.merge(left=df,right=df2,how="inner", on=["region"])

            df4 = df3.groupby(['region','origin_coord','destination_coord','Hour','weekly_avg'])['weekly_avg'].\
            agg(['count'],ascending=True).rename(columns={'count':'Total'}).reset_index()
            df4 = df4.drop(['Total'], axis=1)
            self.df = df4
            return df4
        except (NameError,TypeError,UnboundLocalError,ValueError) as error:
            print('Declare la variable correcta:',error) 
            raise
    
    
    def import_data(self):
        try:
            
            #se carga el df final y la conexion a la bd configurada en gcloud
            df = self.df
            conn_string = 'postgresql://test:test@34.72.31.189:5432/test'
            engine = create_engine(conn_string, echo=True)
            engine.connect()

            #se crea la tabla
            meta = MetaData()
            trips_data = Table(
             'trips_data', meta, 
               Column('region', String(60)), 
               Column('origin_coord', Float), 
               Column('destination_coord', Float),
               Column('Hour', Integer), 
               Column('weekly_avg', Float),
              
            )
            meta.create_all(engine)

            #se insertan los datos en la tabla creada
            df.to_sql(name ='trips_data', con=engine, index=False, chunksize=500,if_exists='replace')

            #twilio enviroment token and sid
            account_sid = os.environ['TWILIO_ACCOUNT_SID']
            auth_token = os.environ['TWILIO_AUTH_TOKEN']
            client = Client(account_sid,auth_token)
            from_whatsapp_number='whatsapp:+14155238886'
            to_whatsapp_number='whatsapp:+573013919941'
            client.messages.create(body='Data Inserted',from_=from_whatsapp_number,to=to_whatsapp_number)
        except (NameError,TypeError,UnboundLocalError,ValueError,TwilioRestException,AttributeError,OperationalError) as error:
            account_sid = os.environ['TWILIO_ACCOUNT_SID']
            auth_token = os.environ['TWILIO_AUTH_TOKEN']
            client = Client(account_sid,auth_token)
            from_whatsapp_number='whatsapp:+14155238886'
            to_whatsapp_number='whatsapp:+573013919941'
            client.messages.create(body='Data Not Inserted',from_=from_whatsapp_number,to=to_whatsapp_number)
            raise

In [2]:
transform = ingest_data()

In [3]:
transform.process_data()

,region,origin_coord,destination_coord,datetime,datasource
0,Prague,POINT (14.4973794438195 50.00136875782316),POINT (14.43109483523328 50.04052930943246),2018-05-28 09:03:40,funny_car
1,Turin,POINT (7.672837913286881 44.9957109242058),POINT (7.720368637535126 45.06782385393849),2018-05-21 02:54:04,baba_car
2,Prague,POINT (14.32427345662177 50.00002074358429),POINT (14.47767895969969 50.09339790740321),2018-05-13 08:52:25,cheap_mobile
3,Turin,POINT (7.541509189114433 45.09160503827746),POINT (7.74528653441973 45.02628598341506),2018-05-06 09:49:16,bad_diesel_vehicles
4,Turin,POINT (7.614078119815749 45.13433106465422),POINT (7.527497142312585 45.03335051325654),2018-05-23 12:45:54,pt_search_app
...,...,...,...,...,...
95,Prague,POINT (14.33562319852013 50.05977285737693),POINT (14.45302412886982 50.06961029075634),2018-05-03 18:56:45,cheap_mobile
96,Hamburg,POINT (9.996714798980491 53.52203690589671),POINT (10.17431393081631 53.51796499041119),2018-05-23 12:43:17,baba_car
97,Prague,POINT (14.40975521275597 50.037791514028),POINT (14.59895464921585 50.05472087955579),2018-05-12 08:13:09,cheap_mobile
98,Hamburg,POINT (10.08338857045871 53.59661344302611),POINT (10.17914017806172 53.60909301795856),2018-05-22 10:39:49,baba_car
99,Prague,POINT (14.61738744026195 50.03346482370401),POINT (14.31199296863995 50.09604608872181),2018-05-15 22:10:03,baba_car

In [4]:
transform.transform_data()

    origin_coord  destination_coord
0           14.5               14.4
1            7.7                7.7
2           14.3               14.5
3            7.5                7.7
4            7.6                7.5
..           ...                ...
95          14.3               14.5
96          10.0               10.2
97          14.4               14.6
98          10.1               10.2
99          14.6               14.3

[100 rows x 2 columns]

In [5]:
transform.update_data()

     region  origin_coord  destination_coord  Hour  weekly_avg
0   Hamburg           9.8                9.8     9    2.821429
1   Hamburg           9.8               10.1     5    2.821429
2   Hamburg           9.9                9.8    17    2.821429
3   Hamburg           9.9               10.0     5    2.821429
4   Hamburg           9.9               10.0    10    2.821429
..      ...           ...                ...   ...         ...
91    Turin           7.7                7.7    13    2.868421
92    Turin           7.7                7.7    15    2.868421
93    Turin           7.7                7.7    20    2.868421
94    Turin           7.7                7.7    21    2.868421
95    Turin           7.7                7.8     9    2.868421

[96 rows x 5 columns]

In [6]:
transform.import_data()

2022-01-30 20:30:11,281 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-01-30 20:30:11,285 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-30 20:30:11,530 INFO sqlalchemy.engine.Engine select current_schema()
2022-01-30 20:30:11,531 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-30 20:30:11,778 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-01-30 20:30:11,779 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-01-30 20:30:12,024 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-30 20:30:12,026 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-01-30 20:30:12,027 INFO sqlalchemy.engine.Engine [generated in 0.00140s] {'name': 'trips_data'}
2022-01-30 20:30:12,274 INFO sqlalchemy.engine.Engine COMMIT
2022-01-30 20:30:12,400 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-01-30 20:30:12,401 INFO sqlalchemy.engine.Engine [cached since 0.3749s ago] {'name': 'trips_data'}
2022-01-30 20:30:12,772 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-01-30 20:30:12,773 INFO sqlalchemy.engine.Engine [cached since 0.7467s ago] {'name': 'trips_data'}
2022-01-30 20:30:13,148 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-01-30 20:30:13,149 INFO sqlalchemy.engine.Engine [generated in 0.00096s] {'schema': 'public'}
2022-01-30 20:30:13,409 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-01-30 20:30:13,410 INFO sqlalchemy.engine.Engine [generated in 0.00102s] {'table_name': 'trips_data'}
2022-01-30 20:30:13,540 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-01-30 20:30:13,541 INFO sqlalchemy.engine.Engine [generated in 0.00100s] {'table_oid': 17073}
2022-01-30 20:30:13,676 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-01-30 20:30:13,678 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {}
2022-01-30 20:30:13,811 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-01-30 20:30:13,812 INFO sqlalchemy.engine.Engine [generated in 0.00100s] {}
2022-01-30 20:30:13,945 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-01-30 20:30:13,946 INFO sqlalchemy.engine.Engine [generated in 0.00108s] {'table_oid': 17073}
2022-01-30 20:30:14,079 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-01-30 20:30:14,080 INFO sqlalchemy.engine.Engine [generated in 0.00088s] {'table_oid': 17073}
2022-01-30 20:30:14,216 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-01-30 20:30:14,217 INFO sqlalchemy.engine.Engine [generated in 0.00119s] {'table': 17073}
2022-01-30 20:30:14,354 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-01-30 20:30:14,355 INFO sqlalchemy.engine.Engine [generated in 0.00085s] {'table_oid': 17073}
2022-01-30 20:30:14,491 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-01-30 20:30:14,492 INFO sqlalchemy.engine.Engine [generated in 0.00111s] {'table_oid': 17073}
2022-01-30 20:30:14,627 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-01-30 20:30:14,628 INFO sqlalchemy.engine.Engine [generated in 0.00151s] {'table_oid': 17073}
2022-01-30 20:30:14,769 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-01-30 20:30:14,770 INFO sqlalchemy.engine.Engine [generated in 0.00121s] {'table_oid': 17073}
2022-01-30 20:30:15,012 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-30 20:30:15,014 INFO sqlalchemy.engine.Engine
DROP TABLE trips_data
2022-01-30 20:30:15,015 INFO sqlalchemy.engine.Engine [no key 0.00117s] {}
2022-01-30 20:30:15,263 INFO sqlalchemy.engine.Engine COMMIT
2022-01-30 20:30:15,404 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-30 20:30:15,405 INFO sqlalchemy.engine.Engine
CREATE TABLE trips_data (
	region TEXT,
	origin_coord FLOAT(53),
	destination_coord FLOAT(53),
	"Hour" BIGINT,
	weekly_avg FLOAT(53)
)


2022-01-30 20:30:15,406 INFO sqlalchemy.engine.Engine [no key 0.00095s] {}
2022-01-30 20:30:15,658 INFO sqlalchemy.engine.Engine COMMIT
2022-01-30 20:30:15,782 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-30 20:30:15,786 INFO sqlalchemy.engine.Engine INSERT INTO trips_data (region, origin_coord, destination_coord, "Hour", weekly_avg) VALUES (%(region)s, %(origin_coord)s, %(destination_coord)s, %(Hour)s, %(weekly_avg)s)
2022-01-30 20:30:15,787 INFO sqlalchemy.engine.Engine [generated in 0.00271s] ({'region': 'Hamburg', 'origin_coord': 9.8, 'destination_coord': 9.8, 'Hour': 9, 'weekly_avg': 2.8214285714285716}, {'region': 'Hamburg', 'origin_coord': 9.8, 'destination_coord': 10.1, 'Hour': 5, 'weekly_avg': 2.8214285714285716}, {'region': 'Hamburg', 'origin_coord': 9.9, 'destination_coord': 9.8, 'Hour': 17, 'weekly_avg': 2.8214285714285716}, {'region': 'Hamburg', 'origin_coord': 9.9, 'destination_coord': 10.0, 'Hour': 5, 'weekly_avg': 2.8214285714285716}, {'region': 'Hamburg', 'origin_coord': 9.9, 'destination_coord': 10.0, 'Hour': 10, 'weekly_avg': 2.8214285714285716}, {'region': 'Hamburg', 'origin_coord': 9.9, 'destination_coord': 10.0, 'Hour': 13, 'weekly_avg': 2.8214285714285716}, {'region': 'Hamburg', 'origin_coord': 9.9, 'destination_coord': 10.2, 'Hour': 11, 'weekly_avg': 2.8214285714285716}, {'region': 'Hamburg', 'origin_coord': 10.0, 'destination_coord': 9.8, 'Hour': 1, 'weekly_avg': 2.8214285714285716}  ... displaying 10 of 96 total bound parameter sets ...  {'region': 'Turin', 'origin_coord': 7.7, 'destination_coord': 7.7, 'Hour': 21, 'weekly_avg': 2.8684210526315788}, {'region': 'Turin', 'origin_coord': 7.7, 'destination_coord': 7.8, 'Hour': 9, 'weekly_avg': 2.8684210526315788})
2022-01-30 20:30:16,052 INFO sqlalchemy.engine.Engine COMMIT